<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>commandline.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>preload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF10FFCC1ED807BD00ADBD9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFF0C55E1ED90633003655DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFF0C56C1ED909C4003655DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFF0C57A1ED909D0003655DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFFED0471E8B261700D62644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFFED05B1E8B261800D62644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AFFED0661E8B261800D62644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
